@media screen and (max-width: 1024px) {

    .header {
        margin-right: 48px;
        margin-left: 48px;
    }

    .lead {
        max-width: 928px;
    }

    .lead__subtitle {
        margin-bottom: 56px;
    }

    .intro {
        margin-left: 48px;
    }

    .photo-grid {
        max-width: 928px;
        max-height: 942px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 14px;
    }
    
    .place {
        column-gap: 32px;
    }
   
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px)  {

    .header {
        margin-left: 24px;
        margin-right: 24px;
    }

    .lead {
        width: 768px;
    }

    .intro {
        margin: 88px auto;
    }

    .photo-grid {
        max-width: 720px;
        max-height: 1664px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 16px;
    }

    .place {
        width: 100%;
        column-gap: 28px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }

    .place__link-heading {
        line-height: 1;
    }

    .place__paragraph {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.63;
        color: #FFFFFF;  
    }

    .footer {
        margin: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 425px) {

    .header {
        width: 288px;
        margin: 20px 16px 50px;
    }

    .header__image {
        width: 156px;
        height: 36px;
    }

    .header__lang-links {
        height: 20px;
        padding-top: 12px;
        width: 61px;
    }

    .header__link-text {
        font-size: 18px;
        line-height: 1.11;
        text-align: end;
    }

    .lead {
        width: 320px;
    }

    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        width: 288px;
        margin-bottom: 16px;
    }
    
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25;
        width: 288px;
        margin-bottom: 40px;
    }

    .lead__caption {
        font-size: 10px;
        line-height: 1.4;
        margin-left: 16px;
    }

    .intro {
        width: 288px;
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 1.09;
    }

    .intro__subtitle {
        font-size: 24px;
        line-height: 1.25;
        height: 90px;
    }

    .intro-text {
        margin-bottom: 34px;
    }

    .photo-grid {
        max-width: 288px;
        max-height: 2724px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12 1fr);
        grid-gap: 12px;
    }

    .places {
        margin: auto;
        padding-top: 64px;
    }

    .place {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 48px;
        row-gap: 0;
    }

    .place__title {
        font-size: 32px;
        line-height: 1.09;
        width: 288px;
        margin: 0 16px 30px;
    }

    .place__link-container {
        width: 288px;
        margin: 0 16px 30px;
    }

    .place__image {
        width: 100%;
        margin-bottom: 30px;
    }

    .place__text {
        width: 288px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .place__paragraph {
        font-size: 16px;
        line-height: 1.63;
        margin-bottom: 25px;    
    }

    .cover {
    }

    .cover__title {
        width: 288px;
        margin: 0 auto 16px;
        font-size: 32px;
        line-height: 1.09;
    }

    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 1.14;
    }

    .footer {
        margin-top: 64px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }

    .footer__links {
        flex-direction: column;
        margin-left: 16px;
        margin-bottom: 16px;
    }

    .footer__list-item {
        margin-bottom: 32px;
    }

    .footer__link {
        font-size: 24px;
        line-height: 1;
    }

    .footer__copyright {
        margin-left: 16px;
        line-height: 1;
    }

}