.cover__link {
    position: relative;
    max-width: 100%;
    height: calc(100vw * .625);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color .2s ease-in-out;
    background-image: url("../../../images/__background.png");
    background-size: cover;
    text-decoration: none;
}

.cover__link:hover {
    background-color: rgba(42, 44, 47, .7);
    cursor: pointer;
}

.cover__link::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    content: "";
}