@import url(./__image/photo-grid__image.css);

.photo-grid {
    max-width: 1184px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
    grid-gap: 16px;
}

@media screen and (max-width: 1024px) {

    .photo-grid {
        max-width: calc(100% * .91);
        grid-gap: 14px;
    }
}

@media screen and (max-width: 768px)  {

    .photo-grid {
        grid-gap: 16px;
    }
}

@media screen and (max-width: 425px) {

    .photo-grid {
        grid-gap: 12px;
    }
}


