.cover__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
}