@import url(./__image/header__image.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__link-text/header__link-text.css);
@import url(./__list-item/header__list-item.css);
@import url(./__link-text/__selected/header__link-text_selected.css);

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 34px;
    margin-right: 148px;
    margin-left: 148px;
}

@media screen and (max-width: 1024px) {

    .header {
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px)  {

    .header {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 425px) {

    .header {
        width: calc(100% * .9);
        margin: 20px 16px 50px;
    }
}