.intro__text {
    max-width: 690px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 32px;    
}

@media screen and (max-width: 425px) {

    .intro-text {
        margin-bottom: 34px;
    }
}