@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__list/intro__list.css);
@import url(./__list/_item/intro__list-item.css);
@import url(./__text/intro__text.css);

.intro {
    max-width: 690px;
    margin-left: 140px;
    margin-bottom: 92px;
    margin-top: 92px;
}
