.cover__title {
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFFDFD;
    z-index: 2;
    text-decoration: none;
}