.header__link-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    text-align: right;
    color: #FFFFFF;
    margin-right: 18px; 
    text-decoration: none;
}

@media screen and (max-width: 425px) {

    .header__link-text {
        font-size: 18px;
        line-height: 1.11;
        text-align: end;
    }
}